
<html>

<head>

<title>Home Page</title>

</head>

<body>
{{> header}}
<p>{{welcomeMessage}}</p>
<b>This is the home page</b>
<a href="/reactiontester">REACTION TESTER</a>
{{> footer}}
</body>

</html>